body{
    font-family: sans-serif;
    background-color: #ccc;
    margin: 0;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}

.hero-content p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid white;
    padding: 15px;
}

.hero nav ul{
    margin: 30px 0 0 0;
}

.hero nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.hero nav a{
    display: block;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
}

.hero nav a:hover{
    background: rgba(0, 0, 0, 0.5);
    color: red;
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-1, .card-2{
    margin-right: 2%;
}

.card img{
    width: 100%;
    display: block;
}

.card p{
    color: white;
    background-color: rgb(55, 56, 56);
    margin: 0;
    padding: 15px;
}

.content-header{
    background: #eee;
    border-bottom: solid 2px #ccc;
    padding: 10px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;*/
}

.content-header h2{
    margin: 0;
}

.rodape{
    height: 80px;
    line-height: 80px;
    background-color: #6b6c68;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: -2px 2px 2px black;
}